body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* html,
body {
  height: 100vh;
} */

h1 {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 50px;
}

h3 {
  font-size: 20px;
  color: rgb(173, 154, 122);
}

h4 {
  font-size: 14px;
  color: rgb(53, 53, 53);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  line-height: 25px;
  padding: 10px 0;
  font-size: 25px;
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

body {
  /* background-color: #004e5a; */
  background-image: url("./assets/bar.jpg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size:100vw 100vh;
  /* height: 100vh; */
  /* background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}

header {
  background-color: #f1dfc3d0;
  box-shadow: 0px 6px 10px #edc89d;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  bottom: 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selection {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-info {
  padding: 20px 10px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.instructions {
  /* height: 600px; */
  background-color: rgb(255, 252, 234);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: 2px dashed rgb(235, 11, 11);
  outline-offset: -30px;
  padding: 50px;
  color: rgb(249, 164, 110);
  max-width: 500px;
  margin: 50px 200px 0px;
}

.instructions #instructions{
  margin: 10px 0 20px;
}

.cocktail-name {
  color: rgba(238,101,57,255);
}

.image {
  max-width: 450px;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: contain;
}

.btn {
  /* background-color: #4CAF50; */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.surprise-brn {
  padding: 8px 10px;
  margin-left: 10px;
  background-color: transparent;
  color: rgb(249, 159, 110); 
  border: 2px solid #1f1b19d0;
  align-self: auto;
}

.surprise-brn:hover {
  border: 2px solid orange;
}

.clear-btn {
  background-color: transparent;
  color: rgb(249, 164, 110); 
  border: 2px solid #f1dfc3d0;
  align-self: auto;
}

.clear-btn:hover {
  background-color: rgba(238,101,57,255);
  color: black;
}

/*---------- MEDIA QUERIES ----------*/

@media (max-width: 1100px) {
  .info {
    flex-direction: column;
  }

  .instructions {
    height: auto;
    width: 400px;
    outline-offset: -20px;
    padding: 40px;
    margin-top: 50px;
  }

  .image {
    width: 400px;
    overflow: hidden;
    margin-top: 50px;
  }

  body {
    background-size: auto 100%;
  }
}

@media (max-width: 800px) {
  .instructions {
    width: 350px;
  }

  .image {
    width: 350px;
  }
}

@media (max-width: 700px) {
  header {
    width: 700px;
  }
}

@media (max-width: 600px) {
  .image {
    width: 300px;
  }

  .instructions {
    width: 300px;
  }

  header {
    width: 650px;
  }
}

@media (max-width: 540px) {
  header {
    width: 595px;
  }

  .info {
    width: 400px;
  }
}

@media (max-width: 431px) {
  header {
    width: 450px;
  }

  .info {
    width: 400px;
  }

  .instructions {
    margin: 50px 50px 0 50px;
  }
}